@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;      
      opacity: 0.9;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 440px;
      background-color: #0B0B0C;
      opacity: 0.9;
      font-size: 16px;
      padding: 60px;
      color: #FAF5F5;
      font-family: 'Times New Roman', 'serif';
      display: block;
    }
  }
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }