body{
  background: url("https://tse3.mm.bing.net/th?id=OIP.U5d78uAOJ5uY-0ikLMO5sAIIB4&pid=15.1&P=0&w=583&h=135") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover 
}

.App {
    margin-top: 15px;
  }
  
  .App .navbar-brand {
    font-weight: bold;
  }
  