h5 {
    padding-bottom: 40px; 
    margin-top: 0 auto;
    color: white;
    
   }
  
  div.inspectorDropdown {
      background-color: black;
      opacity: .8;
  }
  
  div.panel.inspector {
      background-color: black;  
      opacity: .8;
  }