h4 {
    padding-bottom: 40px; 
    margin-top: 0 auto;
   }
  
  div.inspectorDropdown {
      background-color: rgb(105, 98, 98);
  }
  
  div.panel.inspector {
      background-color: rgb(105, 98, 98);
     
  }