@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      
      opacity: 0.8;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 440px;
      background-color: #0B0B0C;
      opacity: 0.8;
      font-size: 16px;
      padding: 80px;
      color: #FAF5F5;
      font-family: 'Times New Roman', 'serif';
      display: block;
    }
  }