.bg {
    background-color: black;
  }

  .wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    background: black;
    grid-row-gap: 1em white;
  }
  
  .wrapper > div {
    background: black;
    padding: 1em;
    opacity: .9;
  }

  
   