.header {
  font-size: 38px;
  text-align: center;  
  font-family: 'Lora';
  font-weight: bold;
  color: rgb(241, 12, 146);
  padding-bottom: 70px;
}

.welcome {
  background-color: #0B0B0C;
  opacity: .9;
  font-size: 20px;
  padding: 80px;
  color: #FAF5F5;
  font-family: 'Hind Madurai';
}

.Home .lander {
    padding: 80px 0;
    text-align: center;
   
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    
  }
  
  .Home .lander p {
    color: #999;
    background: grey;
  }

  

  