.panel-heading {
    width: 300px; 
    text-align: center;
    padding-top:20px; 
}

.panel-body {
    width: 300px; 
    text-align: center;    
}

.panel-sucess {
    width: 400px;
}

.well {
    width: 400px;
}

.rates {
    position: absolute;
}