.wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}

.wrapper > div {
  background: #eee;
  padding: 1em;
}

.todo {
  width: 500px;
}

div.buyerResources {
  width: 500px;
}

div.well.articles {
  margin-left: auto;
  margin-right: auto;
}




