.Buyer {
   color: white; 
}

  #container {
    display: flex;
    justify-content: center;
    background-color: rgb(163, 148, 148);
   
  }
  .bg {
    background-color: white;
  }

  .homeSearch {
   background-color: black;
   width: 500px;
   height: 300px;
   color: white;
   text-align: center;
    
    
  }

   .buyerResources {
     
    width: 600px;
    height: 300px;
    color: white;
    text-align: center;
   }

   .realtorDropdown {
     width: 165px;
   }

   .calendar {   
    width: 300px;
         
     
   }

   

  