body{
    background: url("http://www.publicdomainpictures.net/pictures/30000/velka/grass-1341394043WpC.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover 
  }