.panel {
    margin-top: 50px;           
}
.panel-body {
    background: white;
}
.buyerResources {
    height: 300px;
    width: 250px;
}

.well {
    width: 300px;
    background-color: white;
    margin-top: -50px;
}

.articles {
    padding-top: 0px;
    text-align: center;
}

div.well.articles {
    margin-top: 10px;
    width:350px;
}




